* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #232526;
  background: -webkit-linear-gradient(to left, #414345, #232526);
  background: linear-gradient(to left, #414345, #232526);
  font-size: 16px;
  font-family: serif;
}
form {
  margin: auto;
  margin-top: 10vh;

  height: 380px;
  width: 300px;
  background-color: black;
  border: 1px black solid;
  color: white;
  padding: 15px;
  font-weight: bold;
}

form > a {
  margin-top: 25px;
  padding: 2px;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgb(44, 57, 61);
  display: block;
  color: rgb(49, 230, 94);
  text-align: center;
  width: 100%;
}
i {
  color: white;
}
.icon {
  text-align: center;
  margin-top: -60px;
}
input[type="text"],
input[type="password"] {
  width: 90%;
  height: 25px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: black;
  color: white;
  margin-top: 5px;
}
input[type="submit"] {
  width: 90%;
  height: 25px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  outline: none;
  font-weight: 600;
  margin-top: 15px;
}
.enter1 {
  margin-top: 40px;
}
.enter2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  text-align: center;
  margin-top: 20px;
}
.bottom {
  font-size: 14px;
  margin-top: 10px;
}
.bottom a {
  text-decoration: none;
  margin-left: 5px;
  color: rgb(30, 30, 206);
}
.msg {
  color: red;
  font-size: 12px;
  position: absolute;
  margin-top: 5px;
}
